{% extends 'GaoAdminBundle::layout.html.twig' %}

{% block content_header %}
  Dispute details
{% endblock content_header %}

{% block content_sidebar %}
  {% include "GaoAdminBundle:mod:sidebar.html.twig" with { 'menus': ['dispute_list'] } only %}
{% endblock content_sidebar %}

{% block contents_main %}
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
          <div class="box-body">
            {% include "GaoAdminBundle:mod:alert.html.twig" with { 'flashbag': app.session.flashbag } %}
            <div class="form-group">
                <label>Username</label>
                <p>{{ dispute.username }}</p>
            </div>
            <div class="form-group">
                <label>Ngày tạo</label>
                <p>{{ dispute.created|date('d/m/Y') }}</p>
            </div>
            <div class="form-group">
                <label>Message</label>
                <p>{{ dispute.message }}</p>
            </div>
            <div class="form-group">
                <label>Attachment</label>
                {% if attachment_array and attachment_array is not empty %}
                    {% for attach in attachment_array %}
                        <p style="color: blue;">{{ attach.name }}</p>
                        <p><a href="{{ attach.url }}" target="_blank"><img src="{{ attach.url }}" style="max-height:50px;max-width:50px;" /></a></p>
                    {% endfor %}
                {% else %}
                    <p>Khong co ban ghi nao.</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Xác nhận từ quản trị</label>
                <p>
                    {% if dispute.status == 1 %}
                        <span style="color: blue; font-weight: bold;">Đã xác nhận</span>
                    {% elseif dispute.status == 2 %}
                        <span style="color: red; font-weight: bold;">Bị từ chối</span>
                    {% else %}
                        <span style="color: orange;">Đang chờ</span>
                    {% endif %}
                </p>
            </div>
            <div class="form-group">
                <label>Reference Transaction</label>
                {% if transactionList and transactionList is not empty %}
                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>Tên</th>
                        <th>Số tài khoản</th>
                        <th>Số tiền</th>
                        <th>Trạng thái</th>
                        <th>Ngày phản hồi</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactionList if transaction.id == dispute.transaction_id %}
                            <tr>
                                <td>{{ transaction.username }}</td>
                                <td>{{ transaction.full_name | default('N/A') }}</td>
                                <td>{{ transaction.gd_acc_number | default('N/A') }}</td>
                                <td>{{ transaction.amount }} VND</td>
                                <td>
                                    {% if transaction.status == 1 %}
                                        <span style="color: blue; font-weight: bold;">Đã xác nhận</span>
                                    {% else %}
                                        <span style="color: red;">Đang chờ</span>
                                    {% endif %}
                                </td>
                                <td>{{ transaction.approved_date ? transaction.approved_date|date('d/m/Y H:i:s') : 'Chưa phản hồi' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                    <p>Khong co ban ghi nao.</p>
                {% endif %}
            </div>
          </div>
          {% if dispute.status == 0 %}
          <div class="box-footer">
            <a href="{{ path('gao_admin.dispute.update_status') }}?id={{ dispute.id }}&status=1" class="btn btn-primary">Approve</a>
            <a href="{{ path('gao_admin.dispute.update_status') }}?id={{ dispute.id }}&status=2" class="btn btn-danger">Reject</a>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock contents_main %}
