{% extends 'GaoAdminBundle::layout.html.twig' %}

{% block datapage %}data-pageId="admin"{% endblock %}

{% block content_header %}
  New Admin
  <small>Admin's details</small>
{% endblock content_header %}

{% block content_breadcrumb %}
  {% include "GaoAdminBundle:mod:breadcrumb.html.twig" %}
{% endblock content_breadcrumb %}

{% block contents_main %}
  <div class="row">
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Admin's form</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {{ form_start(form, { 'attr': {'class': 'form-group' }}) }}
          <div class="box-body">
            {% if form_errors(form) %}
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                {{ form_errors(form) }}
              </div>
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-info alert-dismissible">
                  {{ flashMessage }}
              </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('unsuccess') %}
              <div class="alert alert-danger alert-dismissible">
                  {{ flashMessage }}
              </div>
            {% endfor %}
            {{ form_row(form.username, { 'attr': {'class': 'form-control' } }) }}
            {{ form_row(form.password, { 'attr': {'class': 'form-control' } }) }}
            {{ form_row(form.fullName, { 'attr': {'class': 'form-control' } }) }}
            {{ form_row(form.role, { 'attr': {'class': 'form-control' } }) }}
            {{ form_row(form.email, { 'attr': {'class': 'form-control' } }) }}
            {{ form_row(form.phone, { 'attr': {'class': 'form-control' } }) }}
          </div>
          <!-- /.box-body -->
    
          <div class="box-footer">
            {{ form_row(form.submit, { 'label': 'Save','attr': {'class': 'btn btn-primary'} }) }}
          </div>
        {{ form_end(form) }}
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock contents_main %}
