{% extends "::base.html.twig" %}
{% block datapage %}data-pageId="no_match"{% endblock %}
{% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1, user-scalable=no">
  {% block others_meta %}{% endblock others_meta %}
{% endblock meta %}
{% block title %}{% endblock title %}
{% block stylesheets %}
  {% stylesheets filter='cssrewrite'
  output='bundles/gaoadmin/css/admin.css'

  'bundles/gaoadmin/css/style.css'
  'bundles/gaoadmin/plugin/bootstrap-3.3.7/css/bootstrap.min.css'
  'bundles/gaoadmin/plugin/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}
  <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock stylesheets %}
{% block noscript %}
  <p>This site using javascript, please enable it.</p>
{% endblock noscript %}
{% block header %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse navbar-right">
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <strong>{{ app.user.username }}</strong>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ path('admin_logout') }}">Logout</a></li>
                </ul>
              </li>
            </ul>
        {% else %}
            <a href="#" class="btn btn-default navbar-btn">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock header %}

{% block contents %}
  <div class="admin-content container">
    <div class="row">
      {% if is_granted('ROLE_ADMIN') %}
        {% block contents_aside %}
        <div class="col-md-2 col-sm-3">
          <div class="dashboardSidebar">
            <h2 class="title">Account <i class="glyphicon glyphicon-hand-down"></i></h2>
            <ul class="dashboardNav">
              <li {% if menu_selected|default('index') == 'index' %}class="active"{% endif %}><a href="{{ path('gao_c5_homepage') }}"><i class="glyphicon glyphicon-eye-open"></i>Tổng quan</a></li>
              <li {% if menu_selected == 'pd' %}class="active"{% endif %}><a href="{{ path('gao_c5_pd') }}"><i class="glyphicon glyphicon-random"></i>Quản lý PD</a></li>
              <li {% if menu_selected == 'gd' %}class="active"{% endif %}><a href="{{ path('gao_c5_gd') }}"><i class="glyphicon glyphicon-random"></i>Quản lý GD</a></li>
              <li {% if menu_selected == 'history' %}class="active"{% endif %}><a href="{{ path('gao_c5_history') }}"><i class="glyphicon glyphicon-list-alt"></i>Lịch sử giao dịch</a></li>
              <li {% if menu_selected == 'dispute' %}class="active"{% endif %}><a href="{{ path('gao_c5_list_dispute') }}"><i class="glyphicon glyphicon-facetime-video"></i>Tranh chấp</a></li>
              <li {% if menu_selected == 'account' %}class="active"{% endif %}><a href="{{ path('gao_c5_account') }}"><i class="glyphicon glyphicon-user"></i>Tài khoản</a></li>
              {#<li><a href="{{ path('gao_c5_homepage') }}"><i class="glyphicon glyphicon-cog"></i>Cài đặt khác</a></li>#}
              <li><a href="{{ path('admin_logout') }}"><i class="glyphicon glyphicon-log-out"></i>Đăng xuất</a></li>
            </ul>
          </div>
        </div>
        {% endblock contents_aside %}
      {% endif %}
      <div class="{% if is_granted('ROLE_ADMIN') %}col-md-10 col-sm-9{% else %}col-md-12 col-sm-12{% endif %}">
        {% block contents_main %}
        {% endblock contents_main %}
      </div>
    </div>
  </div>

  {% block popup_bottom %}
  {% endblock %}

{% endblock contents %}

{% block footer %}
  <footer class="admin-footer">
    <p class="text-center">
      Copyright &copy; 2016 <a class="brand" href="index.html">My administration</a>. All rights reserved.
    </p>
  </footer>
{% endblock footer %}

{% block javascripts %}

  {% javascripts
  output='bundles/gaoadmin/js/admin.js'

  '@GaoAdminBundle/Resources/public/js/library/jquery/jquery-1.11.0.min.js'

  '@GaoAdminBundle/Resources/public/js/library/joo/joo.js'
  '@GaoAdminBundle/Resources/public/js/library/routing/routing.js'

  '@GaoAdminBundle/Resources/public/plugin/bootstrap-3.3.7/js/bootstrap.min.js'

  '@GaoAdminBundle/Resources/public/js/app/routing.js'%}
  <script type="text/javascript" src="{{ asset_url }}"></script>

  {% endjavascripts %}
    <script>
      //Some global things
    </script>
{% endblock javascripts %}

