{% extends "::base.html.twig" %}
{% block datapage %}data-pageId="no_match"{% endblock %}
{% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block others_meta %}{% endblock others_meta %}
{% endblock meta %}
{% block title %}{% endblock title %}
{% block stylesheets %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {% stylesheets filter='cssrewrite'
  output='bundles/gaoadmin/css/admin.css'

  'bundles/gaoadmin/plugin/bootstrap-3.3.7/css/bootstrap.min.css'
  'bundles/gaoadmin/plugin/bootstrap-3.3.7/css/bootstrap-theme.min.css'
  'bundles/gaoadmin/css/bootstrap_reponsive_nav_menu.css'
  
  'bundles/gaoadmin/css/style.css'%}
  <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock stylesheets %}
{% block noscript %}
  <p>This site using javascript, please enable it.</p>
{% endblock noscript %}

{% block header %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse navbar-right">
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <strong>{{ app.user.username }}</strong>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ path('admin_logout') }}">Logout</a></li>
                </ul>
              </li>
            </ul>
        {% else %}
            <a href="{{ path('admin_login_register') }}" class="btn btn-default navbar-btn">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock header %}

{% block contents %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        {% block contents_main %}
        {% endblock contents_main %}
      </div>
    </div>
  </div>

  {% block popup_bottom %}
  {% endblock %}
{% endblock contents %}

{% block footer %}
  <footer>
    <p class="text-center">
      Copyright &copy; 2016 <a class="brand" href="index.html">My administration</a>. All rights reserved.
    </p>
  </footer>
{% endblock footer %}

{% block javascripts %}

  {% javascripts
  output='bundles/gaoadmin/js/admin.js'

  '@GaoAdminBundle/Resources/public/js/library/jquery/jquery-1.11.0.min.js'

  '@GaoAdminBundle/Resources/public/js/library/joo/joo.js'
  '@GaoAdminBundle/Resources/public/js/library/routing/routing.js'

  '@GaoAdminBundle/Resources/public/plugin/bootstrap-3.3.7/js/bootstrap.min.js'

  '@GaoAdminBundle/Resources/public/js/app/routing.js'%}
  <script type="text/javascript" src="{{ asset_url }}"></script>

  {% endjavascripts %}
    <script>
      //Some global things
    </script>
{% endblock javascripts %}

