{% extends 'GaoAdminBundle::layout.html.twig' %}

{% block datapage %}data-pageId="user_manage"{% endblock %}

{% block content_sidebar %}
  {% include "GaoAdminBundle:mod:sidebar.html.twig" with { 'menus': ['user', 'user-list'] } only %}
{% endblock content_sidebar %}

{% block content_header %}
  User's List Page
  <small></small>
{% endblock content_header %}

{% block content_breadcrumb %}
  {% include "GaoAdminBundle:mod:breadcrumb.html.twig" %}
{% endblock content_breadcrumb %}

{% block contents_main %}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">User Data Table</h3>
          <a href="{{ path('gao_admin_user_new') }}" class="btn btn-primary pull-right">Add New</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          {% include "GaoAdminBundle:mod:alert.html.twig" with { 'flashbag': app.session.flashbag } %}

          <form id="prg-userListForm">
            <table id="prg-userTable" data-load-url="{{ path('gao_admin_user_list_ajax') }}?q={{ search_query }}" class="table table-bordered table-hover">
            </table>
          </form>
      </div>
      <div class="box-footer with-border">
        <div class="btn-toolbar pull-right" style="margin: 0;">
          <div class="btn-group">
            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">With action <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="{{ path('gao_admin_user_list_action') }}?token={{ csrf_token("user_list_action") }}&action=blocked&blocked=0" class="prg-action-menu">Non block</a></li>
              <li><a href="{{ path('gao_admin_user_list_action') }}?token={{ csrf_token("user_list_action") }}&action=blocked&blocked=1" class="prg-action-menu">Soft block</a></li>
              <li><a href="{{ path('gao_admin_user_list_action') }}?token={{ csrf_token("user_list_action") }}&action=blocked&blocked=2" class="prg-action-menu">Hard block</a></li>
              <li class="divider"></li>
              <li><a href="{{ path('gao_admin_user_list_action') }}?token={{ csrf_token("user_list_action") }}&action=delete" class="prg-action-menu">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contents_main %}
