{% macro is_menu_active(name, menu_name_arr) %}{% spaceless %}
  {% if name in menu_name_arr %}active{% endif %}
{% endspaceless %}{% endmacro %}

<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/bundles/gaoadmin/images/user_noname.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ app.user.fullName }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> {{ app.user.role }}</a>
      </div>
    </div>
    <!-- search form -->
    {#<form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>#}
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="{{ _self.is_menu_active('dashboard', menus) }}">
        <a href="{{ path('gao_admin_homepage') }}">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      {% if is_granted('ROLE_SUPER_ADMIN') %}
      <li class="treeview {{ _self.is_menu_active('admin', menus) }}">
        <a href="#">
          <i class="fa fa-user-secret"></i> <span>Admin Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="{{ _self.is_menu_active('admin-new', menus) }}"><a href="{{ path('gao_admin_account_new') }}"><i class="fa fa-circle-o"></i> New Admin</a></li>
          <li class="{{ _self.is_menu_active('admin-list', menus) }}"><a href="{{ path('gao_admin_account_list') }}"><i class="fa fa-circle-o"></i> Admin's List</a></li>
        </ul>
      </li>
      {% endif %}
      <li class="treeview {{ _self.is_menu_active('user', menus) }}">
        <a href="#">
          <i class="fa fa-user"></i> <span>User Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="{{ _self.is_menu_active('user-new', menus) }}"><a href="{{ path('gao_admin_user_new') }}"><i class="fa fa-circle-o"></i> New User</a></li>
          <li class="{{ _self.is_menu_active('user-list', menus) }}"><a href="{{ path('gao_admin_user_list') }}"><i class="fa fa-circle-o"></i> User's List</a></li>
        </ul>
      </li>
      {% if is_granted('ROLE_SUPER_ADMIN') %}
      <li class="{{ _self.is_menu_active('bank-log', menus) }}">
        <a href="{{ path('gao_admin_bank_log') }}">
          <i class="fa fa-usd"></i> <span>Bank account logs</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</aside>
