{% extends 'GaoC5Bundle::layout.html.twig' %}
{% block datapage %}data-pageId="default_dispute"{% endblock %}
{% set menu_selected = 'dispute' %}
{% block contents_main %}
    <div class="clearfix boxHead">
        <h1 class="title"><i class="glyphicon glyphicon-screenshot"></i> Tranh chấp</h1>
        <div class="desc">Tạo bằng chứng đã thực hiện giao dịch, ...</div>
    </div>

    <div class="clearfix boxEnter">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('unsuccess') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form class="form" role="form" id="prg-disputeForm" action="" method="post">
            <div class="form-group">
                <label for="">Giải trình</label>
                <textarea class="form-control" name="message" cols="" rows="5" placeholder="">{{ message }}</textarea>
            </div>
            <div class="form-group">
                <label for="">Văn bản đính kèm</label>
                <div class="form-control" style="height: auto">
                    <label class="btn btn-default btn-file">
                        Chọn file...
                        <!-- The file input field used as target for the file upload widget -->
                        <input type="hidden" id="csrf_token_attachment" value="{{ csrf_token("attachment") }}" />
                        <input id="fileupload" type="file" name="uploadFile" style="display: none;"/>
                        <!-- <input id="fileupload" type="file" name="uploadFile[]" multiple="">-->
                    </label>
                    <br><br>
                    <!-- The global progress bar -->
                    <div id="prg-uploadProgress" class="progress progress-upload-file" style="display: none;">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files">
                        {% for attach in attachment_array %}
                            <p>{{ attach.name }}</p>
                            <input type="hidden" name="attachment[]" value="{{ attach.id }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="btnWrap"><button type="submit" name="submit" class="btn btn-orange">Submit</button></div>
        </form>
    </div>

{% endblock contents_main %}