{% extends 'GaoC5Bundle::layout.html.twig' %}
{% set menu_selected = 'dispute' %}
{% block contents_main %}
    <div class="clearfix boxHead">
        <h1 class="title"><i class="glyphicon glyphicon-screenshot"></i> Danh sách phản hồi</h1>
        <div class="desc">Danh sách thông tin phản hồi đã đăng tải, khi có tranh chấp xảy ra</div>
    </div>

    <div class="clearfix boxBody">
        {#<a href="{{ path('gao_c5_dispute') }}" class="btn btn-orange">Thêm thông tin</a><br><br>#}
        {% if pagination %}
            <div class="clearfix tblWrap">
                <table class="tbl">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">?</th>
                            <th scope="col">Message</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Loại giao dịch</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dispute in pagination.getItemsInCurrentPage %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>?</td>
                                <td>{{ dispute.message }} VND</td>
                                <td>{{ dispute.status == 1 ? 'Được chấp nhận' : (dispute.status == 2 ? 'Bị từ chối' : 'Pending') }}</td>
                                <td>{{ dispute.created ? dispute.created|date('d/m/Y H:i:s') : 'N/A' }}</td>
                                <td>
                                    {% if app.security.getToken().getUser().getId() == dispute.gd_user_id %}
                                        GD
                                    {% elseif app.security.getToken().getUser().getId() == dispute.pd_user_id %}
                                        PD
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            {{ paginate(pagination, sort) }}
        {% else %}
            <strong>Không có bản ghi nào.</strong>
        {% endif %}
    </div>

{% endblock contents_main %}