{% extends 'GaoC5Bundle::layout.html.twig' %}
{% set menu_selected = 'pd' %}
{% block contents_main %}
    <div class="clearfix boxHead">
        <h1 class="title"><i class="glyphicon glyphicon-screenshot"></i> Quản lý PD</h1>
        <div class="desc">Quản lý thông tin PD của người dùng</div>
    </div>

    <div class="clearfix boxEnter">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('unsuccess') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="alert alert-{{ mode == 'error' ? 'danger' : 'info' }}">
            {{ message }}
        </div>
        {% if mode != 'error' %}
        <form class="form" role="form" action="" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-3">
                        <label for="">PIN</label>
                        <input type="text" class="form-control" id="" name="pin_number" placeholder="Mã Pin" 
                        {% if mode == 'tran' and current_pd %} disabled value="{{ current_pd.pinNumber }}" {% endif %} />
                    </div>
                    <div class="col-md-6 col-sm-3">
                        <label for="">Thời điểm yêu cầu</label>
                        <input type="text" class="form-control" disabled 
                        {% if mode == 'tran' and current_pd %} value="{{ current_pd.created |date('d/m/Y H:i:s') }}" {% else %} value="Chua tao PIN" {% endif %} />
                    </div>
                </div>
            </div>
            <div class="btnWrap"><button type="submit" name="submit" class="btn btn-orange">Submit</button></div>
        </form>
        {% endif %}
    </div>

    {% if mode == 'tran' %}
    <div class="clearfix boxBody">
        {% if transactionList and transactionList is not empty %}
        <h4>Danh sach giao dich can duoc thuc hien</h4><br>
        <div class="clearfix tblWrap">
            <table class="tbl">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số tài khoản</th>
                        <th scope="col">Số tiền</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Ngày phản hồi</th>
                        <th scope="col">Phản hồi</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total_amount = 0 %}
                    {% for transaction in transactionList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ transaction.full_name | default('N/A') }}</td>
                            <td>{{ transaction.gd_acc_number | default('N/A') }}</td>
                            <td>{{ transaction.amount }} VND</td>
                            <td>{{ transaction.status == 1 ? 'Approved' : 'Pending' }}</td>
                            <td>{{ transaction.approved_date ? transaction.approved_date|date('d/m/Y H:i:s') : 'N/A' }}</td>
                            <td>
                                <button type="button" class="btn btn-success">Đã gửi tiền</button>
                                <button type="button" class="btn btn-danger">Không gửi tiền</button>
                            </td>
                        </tr>
                        {% set total_amount = total_amount +  transaction.amount%}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col" colspan="7">Tổng số tiền phải chuyển: {{ total_amount }} VND</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% else %}
        <strong>Khong co ban ghi nao.</strong>
        {% endif %}
    </div>
    {% endif %}

{% endblock contents_main %}