{% extends 'GaoAdminBundle::layout.html.twig' %}

{% block contents_main %}
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Login Administration</h3> 
      </div>
      <div class="panel-body">
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        <form action="{{ path('admin_login_check') }}" method="post" class="formLogin" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="form-group">
                <label for="username">Account</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Email or Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Your secret">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me" checked> Remember me
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="form-group">
                <a href="{{ path('login_forgot') }}">Forgot password?</a>
                <span style="color: gray;">-</span>
                <a href="{{ path('login_forgot') }}">Register</a>
            </div>
          </form> 
      </div>
    </div>
  </div>
</div>
{% endblock contents_main %}