{% extends 'GaoC5Bundle::layout_allwidth.html.twig' %}
{% set menu_selected = 'login' %}
{% block contents_main %}
    <div id="login" class="fancyCommon">
        <div class="titlebar clearfix">
            <h2 class="title">ĐĂNG NHẬP</h2>
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        {% for flashMessage in app.session.flashbag.get('unsuccess') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form action="{{ path('login_check') }}" method="post" class="formLogin" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Email hoặc Tài khoản">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Mật khẩu">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me" checked> Nhớ mật khẩu
                    </label>
                </div>
                <div class="forgotPw"><a class="link orange" href="{{ path('login_forgot') }}">Quên mật khẩu?</a></div>
            </div>
            <div class="btnWrap"><button type="submit" class="btn btn-orange">Đăng nhập</button></div>
        </form>
    </div>

{% endblock contents_main %}