{% extends 'GaoAdminBundle::layout.html.twig' %}

{% block datapage %}data-pageId="system"{% endblock %}

{% block content_header %}
  System tool
{% endblock content_header %}

{% block content_sidebar %}
  {% include "GaoAdminBundle:mod:sidebar.html.twig" with { 'menus': ['system-tool'] } only %}
{% endblock content_sidebar %}

{% block contents_main %}
  <div class="row">
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Create pin</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="create-pin" action="{{ path('gao_admin_system.create_pin') }}" method="post" class="form-group">
          <div class="box-body">
            <div id="create-pin-message"></div>
            <div>
              <label for="number" class="required">Number</label>
              <input type="text" required="required" id="number" class="form-control" name="number" placeholder="The number of pins" />
            </div>
          </div>

          <div class="box-footer">
            <input type="submit" name="submit" class="btn btn-primary" value="Create" />
          </div>
        </form>
      </div>

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Match Transaction</h3>
        </div>
        <form id="matchTransaction-frm" action="{{ path('gao_admin_system.matchTransaction') }}" method="post" class="form-group">
          <div class="box-body">
            <div id="matchTransaction-message"></div>
            <div class="form-group">
              <p class="help-block">Run tool for match transaction for all PD-GD (algorithm).</p>
            </div>
          </div>

          <div class="box-footer">
            <input type="submit" name="submit" class="btn btn-primary" value="Run me" />
          </div>
        </form>
      </div>

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Reset user (test only)</h3>
        </div>
        <form id="resetUser-frm" action="{{ path('gao_admin_system.reset_user') }}" method="post" class="form-group">
          <div class="box-body">
            <div id="resetUser-message"></div>
            <div class="form-group">
              <p class="help-block">Run tool for finish a round of PD-GD.</p>
            </div>
          </div>

          <div class="box-footer">
            <input type="submit" name="submit" class="btn btn-primary" value="Run me" />
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Clean up</h3>
        </div>
        <form id="cleanUp-frm" action="{{ path('gao_admin_system.clean_up') }}" method="post" class="form-group">
          <div class="box-body">
            <div id="cleanUp-message"></div>
            <div class="form-group">
              <p class="help-block">All users will be reset to start time (just created)</p>
            </div>
          </div>

          <div class="box-footer">
            <input type="submit" name="submit" class="btn btn-primary" value="Run me" />
          </div>
        </form>
      </div>

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Force request (test only)</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="forceRequest-frm" action="{{ path('gao_admin_system.force_request') }}" method="post" class="form-group">
          <div class="box-body">
            <div id="forceRequest-message"></div>
            <div class="form-group">
              <p class="help-block">After running. All users who haven't requested will request and create PD,GD</p>
            </div>
          </div>

          <div class="box-footer">
            <input type="submit" name="submit" class="btn btn-primary" value="Run me" />
          </div>
        </form>
      </div>

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Force done (test only)</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="forceDone-frm" action="{{ path('gao_admin_system.force_done') }}" method="post" class="form-group">
          <div class="box-body">
            <div id="forceDone-message"></div>
            <div class="form-group">
              <p class="help-block">After running. All transaction in this round will be done successfully.</p>
            </div>
          </div>

          <div class="box-footer">
            <input type="submit" name="submit" class="btn btn-primary" value="Run me" />
          </div>
        </form>
      </div>
    </div>
    
  </div>
{% endblock contents_main %}
